name: Build GitHub Pages
on:
  push:
    branches:
      - "master"
jobs:
  build_vue:
    runs-on: ubuntu-latest
    name: Build Vue
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - id: Build-Vue
        uses: xRealNeon/VuePagesAction@1.0.1
        with:
          username: "LeaX-XIV"
          reponame: "dm-tools"
          token: ${{ secrets.GITHUB_TOKEN }}
